@import '../constants.scss';

.root {
  display: flex;
  flex-direction: column;
  border: 5px solid $card-background;
  border-radius: 10px;
  background-color: $card-background;
  padding: 1rem 1.5rem;
  p {
    margin-top: auto;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
}
